<ion-toolbar color="light" (click)="listHidden = !listHidden">
  <ion-buttons slot="end">
    <ion-button>
      <ion-button>
        <ion-icon name="chevron-forward" *ngIf="!listHidden"></ion-icon>
        <ion-icon name="chevron-down" *ngIf="listHidden"></ion-icon>
      </ion-button>
    </ion-button>
  </ion-buttons>

  <ion-title>Covid-19 Testing</ion-title>
</ion-toolbar>

<ion-list *ngIf="listHidden">
  <ion-item *ngFor="let che of options">
    <ion-label>{{che.val}}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="che.isChecked"></ion-checkbox>
  </ion-item>
</ion-list>
