<mgl-map
[style]="'mapbox://styles/mapbox/streets-v9'"
[zoom]="[3]"
[center]="center || defaultCenter"
*ngIf="!mapHidden"
>

  <mgl-geojson-source
    [id]="'mapData'"
    [data]="mapData"
    [cluster]="true"
    [clusterRadius]="50"
    [clusterMaxZoom]="14"
    [clusterProperties]="clusterProperties"
  ></mgl-geojson-source>
  <mgl-markers-for-clusters [source]="'mapData'">
    <ng-template mglPoint let-feature>
      <div class="marker">
        {{ feature.properties[showFieldTotal] }}
      </div>
    </ng-template>
    <ng-template mglClusterPoint let-feature>
      <div class="marker-cluster">
        {{ feature.properties[showFieldTotal] }}
      </div>
    </ng-template>
  </mgl-markers-for-clusters>

</mgl-map>

