<ion-list lines="full" [formGroup]="form">
  <ion-item>
    <ion-label position="floating">Email address</ion-label>
    <ion-input formControlName="emailAddress" type="email" name="emailAddress"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Birthday</ion-label>
    <ion-datetime formControlName="birthday" name="birthday" displayFormat="MM/DD/YYYY" min="1920-01-01" max="2014-12-30" value="2002-09-23T15:03:46.789"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Zipcode</ion-label>
    <ion-input  formControlName="zipcode" type="text" name="zipcode"></ion-input>
    <ion-text *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched) && zipcode.errors && zipcode.errors.required"
      color="danger">
        Required.
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select interface="popover" formControlName="gender" name="gender">
      <ion-select-option value="{{gender.val}}" *ngFor="let gender of genders">{{ gender.display }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
